@page "/"
<nav>
	<div class="nav nav-tabs" id="nav-tab" role="tablist">
		<button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-loction" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Локації</button>
		<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#test1" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Тест 1</button>
		<button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#test2" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Тест 2</button>
	</div>
</nav>
<div class="tab-content" id="nav-tabContent">
	<div class="tab-pane fade show active" id="nav-loction" role="tabpanel" aria-labelledby="nav-home-tab">
		<LocationWindow />
	</div>
	<div class="tab-pane fade" id="test1" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
	<div class="tab-pane fade" id="test2" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
</div>


@code {
}